.page_wrapper{
  background-color: white;
  text-align: center;
}
.content{
  width: 300px;
  height: 400px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
.img_content{
  width: 200px;
  height: 250px;
  padding-top:10px;
}
.itemLi{
  border:1px solid black;
  background-color: pink;
  margin: 20px;
  list-style: none;
}
.itemLi-favourite{
  background-color: rgb(245, 62, 62);
  border: 5px solid black;
  color:white;
}
.title_content{
  text-align: center;
}
.list{
  display: flex;
  padding:20px;
flex-wrap: wrap;
}
.btn{
  background-color: rgb(133, 8, 8);
  color:white;
}
