.page_wrapper{
  background-color: white;
  text-align: center;
}
.content{
  width: 300px;
  height: 400px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
.img_content{
  padding-top: 20px;
  width: 230px;
  height: 300px;
}
.itemLi{
  border:1px solid rgb(105, 0, 32);
  background-color: rgb(252, 210, 217);
  margin: 20px;
  list-style: none;
}
.itemLi-favourite{
  background-color:rgb(240, 133, 151);
  border: 3px solid rgb(150, 6, 6);
  color:white;
}
.title_content{
  text-align: center;
}
.list{
  display: flex;
  padding:20px;
  flex-wrap: wrap;
}
.btn{
  background-color: rgb(133, 8, 8);
  color:white;
}
